Source: xpllib
Priority: extra
Maintainer: Michael Markstaller / Elaborated Networks GmbH for WireGate <devel@wiregate.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: xpllib-dev
Section: libdevel
Architecture: any
Depends: xpllib (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: xpllib
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
