#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_COMPAT=5
tmp := $(CURDIR)/debian/libapache2-mod-auth-radius

build: patch build-stamp

build-stamp:
	dh_testdir
	apxs2 -c mod_auth_radius-2.0.c
	touch build-stamp

patch:
	if [ ! -f patch-stamp ]; then \
	 patch -p1 < debian/patches/002.CAN2005-0108.2.diff && \
	 touch patch-stamp; \
	fi

unpatch:
	if [ -f patch-stamp ]; then \
	 patch -Rp1 < debian/patches/002.CAN2005-0108.2.diff && \
	 rm -f patch-stamp; \
	fi

clean: unpatch real-clean
real-clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	dh_clean build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/lib/apache2/modules etc/apache2/mods-available

	cp -a debian/auth_radius.load $(tmp)/etc/apache2/mods-available/auth_radius.load
	install -p -m 644 .libs/mod_auth_radius-2.0.so $(tmp)/usr/lib/apache2/modules/mod_auth_radius.so

binary-indep:
	#nothing to do

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs README
	dh_installexamples htaccess httpd.conf
	dh_strip
	dh_compress 
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch 
.PHONY: build clean binary-arch binary-indep binary install patch unpatch
