Package: irclient
Version: 6.01.01-1
Architecture: i386
Maintainer: Michael Markstaller / Elaborated Networks GmbH for WireGate <devel@wiregate.de>
Installed-Size: 96
Depends: libc6 (>= 2.0)
Section: comm
Priority: required
Homepage: http://www.irtrans.de/de/download/
Description: TCP/IP based client for IRTrans irserver
