Package: xpllib-dev
Source: xpllib
Version: 1.31-1
Architecture: i386
Maintainer: Michael Markstaller <mm@elabnet.de>
Installed-Size: 68
Depends: xpllibBROKEN (= 1.31-1)
Section: libdevel
Priority: extra
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
